<p> "Me the Project" is an oppurtunity to take time to explore areas, topics, technical or
non-technical to be proactive in strengthening my weak areas to move forward in the
remainder of the Epicodus program with more confidence as we begin our job search.</p>

<p>After some reflection I have narrowed down some areas that I would like to spend my time
on that will provide me with the above mentioned confidence moving forward.</p>

<li><a href="past">Past Experience Review [Technical and Non-Technical]</a><small><em>   ~4 hour</em></small></li>
<br>
<li>Client Side -v- Server Side Big Picture Review<small><em>   ~1 hour</em></small></li>
<br>
<ul> Highlights:
  <ol>https://developer.mozilla.org/en-US/docs/Learn/Common_questions/Pages_sites_servers_and_search_engines</ol>
  <ol>https://softwareengineering.stackexchange.com/questions/138561/pros-cons-between-emphasizing-client-side-or-server-side-processing?rq=1</ol>
  <ol>https://softwareengineering.stackexchange.com/questions/171203/what-are-the-differences-between-server-side-and-client-side-programming</ol>
</ul>
<br>
<li>HackReactor<small><em>   ~2 hour</em></small></li>
  <img src="src/images/hackreactor.png" alt="hackreactor-progress">
<br>
<li>typing.io & typing.com <small><em>   ~1 hour</em></small></li>
  <img src="src/images/typingio.png" alt="typing-io">
  <img src="src/images/typingcom.png" alt="typing-com">
<br>
