
<h4>Work Experience</h4>
<hr>
<h5>IBM</h5>
<h5><em>EDA</em></h5>
<h6>January 2004 - April 2009 </h6>
<p>Timing Engineer</p>
<p class="text-primary"><strong>STA: Static Timing Analysis</strong></p>
<p class="text-primary">Static timing analysis is a method of validating the timing performance of a design
by checking all possible paths for timing violations under worst-case conditions. <em>It considers
the worst possible (or fastest) delay through each logic element, independent of logical operation.
</em> "Will the correct data be present at the data input of each synchronous device when
the clock edge arrives, under all possible conditions?"</p>

<p class="text-primary">'Static' is derived from the fact that the timing analysis is carried out independent
of the input values and calculates all possible input combinations,(whether they are real
or potential false paths). STA is most suitable for fully synchronous designs.</p>

<p class="text-primary">All paths are analyzed from every startpoint to each and every endpoint and
compares it against a timing constraint defined by the definition fo the period of the clock
and the arrival times of the primary inputs and outputs of the circuit.</p>

<p class= "text-primary"><strong>Timing Path</strong></p>
<li class= "text-primary">Input pin/port to flip-flop</li>
<li class= "text-primary">Input pin/port to output pin/port</li>
<li class= "text-primary">Flip-flop to flip-flop</li>
<li class= "text-primary">Flip-flop to output</li>
<br>
<p class= "text-primary"><strong>Slack</strong></p>
<p class= "text-primary">The difference between the Required Time and actual computed Arrival time. </p>
<p class= "text-primary"><strong>Critical Path</strong></p>
<p class= "text-primary">Your critical paths are those that do need meet the defined timing window for the design
and have negative slack. They are timing sensitive and no additional gates can be added
and are reviewed by the designer for optimizations and to rule out false/or multicycle paths..</p>
<p class= "text-primary"><strong>Setup Time</strong></p>
<p class= "text-primary">Setup time is the minimum amount of time the data signal should be held steady before the clock
event so that the data is reliably sampled by the clock. This applies to synchronouse elements
such as FF's. </p>
<p class= "text-primary"><strong>Hold Time</strong></p>
<p class= "text-primary" >Hold time is the minimum amount of time the data should be held steady <em>after</em>
the clock event so that the data is reliably sampled.</p>
<img src="src/images/setup-hold.jpg" alt="setup hold clk diagram">

<br>
<br>
<h5><em>Microelectronics Z-series Processor</em></h5>
<h6>November 2000 - January 2004 </h6>
<p>Logic Designer</p>
<p class= "text-primary"><strong>ECC: Error-correcting code memory </strong></p>
<p><em>diagrams are in my notebook,put them together cohesively as story.</em></p>
<br>
<br>
<h5>Sun Microsystems</h5>
<h6>June 1996 - September 2000 </h6>
<p>Logic Designer</p>
<p class= "text-primary"><strong>Chip Design Flow</strong></p>
<p><em>Practice whiteboard talk, slides?</em></p>
<br>
